In [1]:
import pandas as pd

# Load the Excel sheet into a DataFrame
df = pd.read_excel("11082025.xlsx", sheet_name="Detail", engine="openpyxl")
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,Дата\nNgày,Добыча газа и конденсата БК-ТНГ/ SỐ LIỆU KHAI ...,NaN,NaN,NaN,Прием газа с Дайхунг / Tiếp nhận khí Đại Hùng,NaN,NaN,Сдача (Реализация) газа и конденсата / Khí và ...,NaN,...,Khí nhiên liệu và flare,NaN,NaN,NaN,Khai thác condensate,NaN,NaN,NaN,NaN,Hoàn thành lũy kế ngày
1,NaN,Gas\n( Không bao gồm CO2),20V01\n( Tính cả CO2),Condensate,NaN,Gas,NaN,Жидкость / Сhất lỏng,Gas BK-TNG,NaN,...,Định mức,Thực tế,+/-,NaN,Kế hoạch theo MCM,Kế hoạch update,Thực tế,+/-,hoàn thành,NaN
2,NaN,Sm3,Sm3,Sm3,MMBTU,Sm3,MMBTU,lit,Sm3,MMBTU,...,Sm3,NaN,Sm3,%,Sm3,NaN,NaN,Sm3,%,%
3,1,2,3,4,5,6,7,8,9,10,...,59,NaN,NaN,62,63,NaN,NaN,NaN,67,NaN
4,2022-01-01 00:00:00,355967,389287,37.16,1163,259482,11089,0,346228,13798,...,17096.774194,9739,-7357.774194,0.56964,41.935484,NaN,37.16,-4.775484,0.886123,0.886123

In [ ]:
# Loop over the first column then when the cell starts with "SUM", get the index value
table_indices = []
for i, value in enumerate(df.iloc[:, 0]):
    if str(value).startswith("SUM"):
        table_indices.append(i)
table_indices

[35, 64, 96, 127, 159, 190, 222, 254, 285, 317, 348, 380, 381]

In [3]:
# In df, loop over all values at the row index = 1 then match when value="Thực tế"
for col in df.columns:
    if df.at[1, col] == "Thực tế":
        print(f"Match found in column: {col}")

Match found in column: Unnamed: 50
Match found in column: Unnamed: 55
Match found in column: Unnamed: 59
Match found in column: Unnamed: 64

In [4]:
# Build smaller dataframe restricted by indexes pair in table_indices
tables = []
for i in range(len(table_indices) - 1):
    start = table_indices[i]
    end = table_indices[i + 1]
    tables.append(df.iloc[start + 1:end])

# Convert the first column to datetime of format dd/mm/yyyy
for table in tables:
    table.iloc[:, 0] = pd.to_datetime(table.iloc[:, 0], format="%d/%m/%Y")
    # Change all the year to 2025, keep the date
    table.iloc[:, 0] = table.iloc[:, 0].apply(lambda x: x.replace(year=2025))
    table.reset_index(drop=True, inplace=True)

# Filter data by date
query_date = "11/08/2025"
# Scan over all tables to match the date
filtered_data = pd.concat([table[table.iloc[:, 0] == pd.to_datetime(query_date, format="%d/%m/%Y")] for table in tables])

# Extract value
gas_production = filtered_data.iat[0, filtered_data.columns.get_loc("Unnamed: 50")]
gas_sale = filtered_data.iat[0, filtered_data.columns.get_loc("Unnamed: 55")]
flare = filtered_data.iat[0, filtered_data.columns.get_loc("Unnamed: 59")]
oil = filtered_data.iat[0, filtered_data.columns.get_loc("Unnamed: 64")]

print(gas_production, gas_sale, flare, oil)

395129 363047 32082 38.78